{% load static %}

<script src="{% static 'base_app/js/base_sidebar.js' %}" type="text/javascript"></script>

<!-- side bar -->
Sidenav/menu
<nav class="respo-sidenav respo-collapse respo-white respo-animate-left"
	style="z-index: 3; width: 300px;" id="mySidenav">
	<br> <br>
	{% include 'base_app/logo.html' %}
	<a href="#"
		class="respo-padding-8 respo-hide-large respo-dark-grey respo-hover-black"
		onclick="respo_close()" title="close menu"><i
		class="fa fa-remove fa-fw"></i> Close Menu </a>
	<hr style="margin-bottom: 0px;">
	<div class="respo-container respo-light-turquoise">
		<b>Data access</b>
	</div>
	
	{% block data_access %} 
		{% include 'base_app/data_access.html' %} 
	{% endblock data_access %}

	<hr style="margin-bottom: 0px;">
	<div class="respo-container respo-light-turquoise">
	   <b title="Temporal data storage">
		Workspace 
	   </b>
	</div>
	
	{% block workspace %} 
		{% include 'base_app/workspace.html' %} 
	{% endblock workspace %}
	
</nav>

Overlay effect when opening sidenav on small screens
<div class="respo-overlay respo-hide-large respo-animate-opacity"
	onclick="respo_close()" style="cursor: pointer" title="close side menu"
	id="myOverlay"></div>
