{% load static %}

<html>
<title>duckpond</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="{% static 'base_app/vcss/respostyle.css' %}">
<link rel="stylesheet" type="text/css"
	href="{% static 'base_app/vcss/css' %}">
<link rel="stylesheet" type="text/css"
	href="{% static 'base_app/font-awesome-4.7.0/css/font-awesome.min.css' %}">


<!--  style of top bar -->
<style>
html, body, h1, h2, h3, h4, h5 {
	font-family: "Raleway", sans-serif
}

.respo-navbar li a {
	padding-top: 45px;
	padding-bottom: 5px;
}

.respo-navbar {
	padding-left: 300px;
}
</style>
<script src="{% static 'base_app/js/base.js' %}" type="text/javascript"></script>


<body class="respo-light-grey">

	<!--  uppermost title bar -->
	Top container
	<div
		class="respo-container respo-top respo-black respo-medium respo-padding"
		style="z-index: 4">
		<!--  button for menu on a small screen -->
		<button
			class="respo-btn respo-hide-large respo-padding-0 respo-hover-text-grey"
			onclick="respo_open();">
			<i class="fa fa-bars"></i> Menu
		</button>
		<span class="respo-right"><strong>name of your project</strong></span>
	</div>

	<!-- top bar (partly overlapped by title bar) -->
	Navbar
	<div class="respo-top">
		<ul
			class="respo-navbar respo-light-turquoise respo-top respo-left-align respo-medium">
			<li class="respo-opennav respo-right respo-hide-medium"><a
				class="respo-hover-white respo-large respo-theme-d4"
				href="javascript:void(0)" onclick="respo_open()"><i
					class="fa fa-bars"></i></a></li>
			<li class="respo-hide-small"><a href="{% url 'base_app:home' %}"
				class="respo-hover-white"><i class="fa fa-home fa-fw"></i> Home</a></li>
			<!-- Please add path to your documentation here to enable help link -->
			<li class="respo-hide-small"><a
				href="#path to your documentation" class="respo-hover-white"><i
					class="fa fa-book fa-fw"></i> Help</a></li>
			<li class="respo-hide-small"><a href="#" onclick="search_open()"
				id="srch_box" class="respo-hover-white"><i
					class="fa fa-search fa-fw"></i> Search</a></li>
			<li class="respo-hide-small"><a id="srch_but"
				class="respo-hover-none"></a></li>
			<li class="respo-hide-small"><a id="srch_close_but"
				class="respo-hover-none"></a></li>
		</ul>
	</div>

	<!-- side bar -->
	Sidenav/menu
	<nav
		class="respo-sidenav respo-collapse respo-white respo-animate-left"
		style="z-index: 3; width: 300px;" id="mySidenav">
		<br> <br>
		<div class="respo-container respo-row">
			<div class="respo-col s4">

				<!-- insert here the path to your logo for the upper left corner -->
				<!-- 	      <img src="{% static 'path_to_image/logo_main.png' %}" style="width:200px"  alt="Your Logo"><br> -->
			</div>
		</div>
		<a href="#"
			class="respo-padding-8 respo-hide-large respo-dark-grey respo-hover-black"
			onclick="respo_close()" title="close menu"><i
			class="fa fa-remove fa-fw"></i> Close Menu </a>
		<hr style="margin-bottom: 0px;">
		<div class="respo-container respo-light-turquoise">

			<b>Data access</b>

		</div>

		<hr style="margin-bottom: 0px;">
		<i class="respo-padding fa fa-arrow-circle-o-right fa-fw"></i> 
		{% block data_access %}{% endblock data_access%}


		<hr style="margin-bottom: 0px;">
		<div class="respo-container respo-light-turquoise">
			<b title="Temporal data storage">Workspace </b>
		</div>
		<ul class="respo-ul respo-card-4 respo-white" id="workspace">
		</ul>
	</nav>

	Overlay effect when opening sidenav on small screens
	<div class="respo-overlay respo-hide-large respo-animate-opacity"
		onclick="respo_close()" style="cursor: pointer"
		title="close side menu" id="myOverlay"></div>

	!PAGE CONTENT!
	<div class="respo-main" style="margin-left: 300px; margin-top: 40px;">
		{% block content %}{% endblock content %}

		<footer class="respo-container respo-padding-6 respo-light-grey">
			<p style="text-align: center">
				Powered by <a href="http://www.dead_lake.ny" target="_blank">You</a>
				| Copyright &copy; 1972-3978
			</p>
		</footer>

	</div>
</body>
</html>
