{% load static %}

<html>
<title>pleasant</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'base_app/vcss/respostyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'base_app/vcss/css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'base_app/font-awesome-4.7.0/css/font-awesome.min.css' %}">

<!--  style of top bar -->
<!-- TODO: Do we access the font Raleway online? For more see base_app/vcss/css -->

<style>
html, body, h1, h2, h3, h4, h5 {
	font-family: "Raleway", sans-serif
}
.respo-navbar li a {
	padding-top: 45px;
	padding-bottom: 5px;
}

.respo-navbar {
	padding-left: 300px;
}
</style>
<script src="{% static 'base_app/js/base.js' %}" type="text/javascript"></script>
<body class="respo-light-grey">

	<!--  uppermost title bar -->
	Top container
	<div class="respo-container respo-top respo-black respo-medium respo-padding" style="z-index: 4">
		<!--  button for menu on a small screen -->
		<button
			class="respo-btn respo-hide-large respo-padding-0 respo-hover-text-grey"
			onclick="respo_open();">
			<i class="fa fa-bars"></i> Menu
		</button>
		<span class="respo-right"><strong>Platform for Environmental and Spatial Analysis Tools (PLEASANT)</strong></span>
	</div>

	<!-- top bar (partly overlapped by title bar) -->
	Navbar
	<div class="respo-top">
		<ul
			class="respo-navbar respo-light-turquoise respo-top respo-left-align respo-medium">

			<li class="respo-hide-small">
			  <a href="{% url 'base_app:home' %}" class="respo-hover-white">
			    <i class="fa fa-home fa-fw"></i> Home
			  </a>
			</li>
			<!-- Here the tools for the workbench are added via WPS - feel free to use your tools in any way you want -->
			{% block navbar_extensions %}
		    <!-- TODO: Need a monitor app
		    <li class="respo-hide-small">
		      <a href="#path to your monitor app" class="respo-hover-white">
		        <i class="fa fa-eye fa-fw"></i>  Monitor
		      </a>
		    </li> -->
		    {% endblock %}

			<!-- Please add here path to your documentation to enable help link -->
			<li class="respo-hide-small">
			  <a href="#path to your documentation" class="respo-hover-white">
			    <i class="fa fa-book fa-fw"></i> Help
			  </a>
			</li>
			<!--  TODO: Why is the search button working only once? -->
			<li class="respo-hide-small">
			  <a href="#" onclick="search_open()" id="srch_box" class="respo-hover-white">
			    <i class="fa fa-search fa-fw"></i> Search
			  </a>
			</li>
			<li class="respo-hide-small">
			  <a id="srch_but" class="respo-hover-none"></a>
			</li>
			<li class="respo-hide-small">
			  <a id="srch_close_but" class="respo-hover-none"></a>
			</li>
			{% if user.is_authenticated %}		 
				<li class="respo-hide-small respo-right">
				  <a href="#" class="respo-hover-white"> Sign Out</a>
				</li>
				<li class="respo-hide-small respo-right">
				  <a class='respo-hover-none'>
				    <i class="fa fa-user fa-fw"></i> Hello, {{ user.first_name }}
				  </a>
				</li>
			{% else %}
				<li class="respo-hide-small respo-right">
				  <a href="{% url 'base_app:login' %}" class="respo-hover-white">
				    <i class="fa fa-user fa-fw"></i> Sign In/Up
				  </a>
				</li>
			{% endif %}
		</ul>
	</div>
	{% block sidebar %}
	{% endblock %}
	
	!PAGE CONTENT!
	<div class="respo-main" style="margin-left: 300px; margin-top: 50px;">
		{% block content %}
		{% endblock %}

		<footer class="respo-container respo-padding-6 respo-light-grey">
			<p style="text-align: center"> Powered by 
			 <a href="http://www.dead_lake.ny" target="_blank">You</a> | Copyright &copy; 1972-3978
			</p>
		</footer>
	</div>
</body>
</html>
