{% load static %}

<!-- Here we only offer the upload button to access data. 
Please be aware that uploading data is a security issue that you have to handle yourself.
Django stores data up to 2.5 megabyte in memory, bigger files in a tmp folder. For details see
https://docs.djangoproject.com/en/1.11/topics/http/file-uploads/#where-uploaded-data-is-stored  
Some ideas (in German) about uploading data (and why you shouldn't offer that) are 
available at https://wiki.selfhtml.org/wiki/PHP/Anwendung_und_Praxis/File_Upload 
The better choice for offering data would be a database. -->

{% block javascript %}
<script src="{% static 'base_app/js/data_access.js' %}"></script>
{% endblock %}

<div>
	{# create a button pointing to an invisible input button: #}
	<hr style="margin-bottom: 0px;">
	<i class="respo-padding fa fa-arrow-circle-o-right fa-fw"></i>
	<button type="button" class="btn btn-primary js-upload-files">Upload
		data</button>
	<!-- call js function for upload and (invisible) input button 
id is the same as defined in data_access.js -->
	<input id="fileupload" type="file" name="file" multiple
		style="display: none;" data-url="{% url 'base_app:home' %}"
		data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
</div>

  <form method="post" action="{% url 'base_app:clear_database' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit" class="btn btn-danger pull-right">
      <span class="glyphicon glyphicon-trash"></span> Clear Database
    </button>
  </form>

