<!-- Here we only offer the upload button to access data. 
No data will be uploaded yet. The better choice for offering data would be a database.
Please be aware that uploading data is a security issue that you have to handle yourself.
Some ideas (in German) about uploading data (and why you shouldn't offer that) are 
available at https://wiki.selfhtml.org/wiki/PHP/Anwendung_und_Praxis/File_Upload -->

<!-- create a custom button pointing to an invisible input button:	 -->
<button id="loadData"
	onclick="document.getElementById('select_data_but').click()">Upload data</button>
<!-- connect the input button to base.js, which will write to Workspace after selection	 -->
<input type="file" id="select_data_but" multiple style="display: none"
	onclick="document.getElementById('select_data_but').addEventListener('change', select_data, false);" />