{% load static %}

<!-- Here we only offer the upload button to access data. 
Please be aware that uploading data is a security issue that you have to handle yourself.
Django stores data up to 2.5 megabyte in memory, bigger files in a tmp folder. For details see
https://docs.djangoproject.com/en/1.11/topics/http/file-uploads/#where-uploaded-data-is-stored  
Some ideas (in German) about uploading data (and why you shouldn't offer that) are 
available at https://wiki.selfhtml.org/wiki/PHP/Anwendung_und_Praxis/File_Upload 
The better choice for offering data would be a database. -->


<!-- <form method="post" enctype="multipart/form-data" name='title'> -->
<!-- 	{% csrf_token %} -->
<!-- 	<!-- (invisible) input button is defined in forms.py --> 
<!-- 	<hr style="margin-bottom: 0px;"> -->
<!-- 	<i class="respo-padding fa fa-arrow-circle-o-right fa-fw"></i>  -->
<!-- 	{{ upload_form }}  -->
<!-- 	<!-- create a custom button pointing to an invisible input button:	 -->
<!-- 	<button onclick="document.getElementById('select_data_button').click()"> -->
<!-- 		Upload data</button> -->
<!-- </form> -->

{% block javascript %}
  <script src="{% static 'base_app/js/data_access.js' %}"></script>
{% endblock %}
    

{# create a button pointing to an invisible input button: #}
<hr style="margin-bottom: 0px;">
<i class="respo-padding fa fa-arrow-circle-o-right fa-fw"></i> 
<button type="button" class="btn btn-primary js-upload-files">Upload data
</button>
<!-- call js function for upload and (invisible) input button 
id is the same as defined in data_access.js -->
<input id="fileupload" type="file" name="file" multiple
       style="display: none;"
       data-url="{% url 'base_app:data_access' %}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    </div>
  
    
