{% load static %}

<ul class="respo-ul respo-card-4 respo-white" id="workspace" 
	onload="document.getElementById('workspace').addEventListener('change', select_data, false);">

	{% for i in file_list %}
		{% for f in i %}
			<li class='respo-padding' id='f.name'>
				<span class='respo-medium'>
					<strong>{{ f.name }}</strong> 
					<br> {{ f.content_type }} - {{ f.size|filesizeformat }}
 				</span>
 				<a href='javascript:void(0)' onclick=this.parentElement.remove(); 
 					class='respo-hover-white respo-right'><i class='fa fa-remove fa-fw'></i>
 				</a>
			</li>
		{% endfor %}
	{% endfor %}
</ul>