{% load static %}

{# Show files in workspace #}
<ul class="respo-ul respo-card-4 respo-white" id="workspace">
	<div>
		{% for f in data %}
			<strong><a href="{{ f.file.url }}" >{{ f.file.name }}</a></strong> 
		{% endfor %}
	</div>
</ul> 

{# Delete files in workspace (and from disk) #}
<hr style="margin-bottom: 0px;">
 <form method="post" action="{% url 'base_app:clear_database' %}">
   {% csrf_token %}
   <input type="hidden" name="next" value="{{ request.path }}">
   <i class="respo-padding fa fa-arrow-circle-o-right fa-fw"></i>
   <button type="submit" > Clear Workspace
   </button>
 </form>